{% block body %}
<h2>Récapitulatif pour Winter Sale 2024</h2>
<ul>
    {% for field, value in formData %}
        <li><strong>{{ field|capitalize }}:</strong> {{ value }}</li>
    {% endfor %}
</ul>
{% endblock %}