{% block body %}
<h2>Récapitulatif pour Winter Sale 2024</h2>
<li><strong>0:</strong></li>
<li><strong>1:</strong></li>
<li><strong>2:</strong></li>
<li><strong>3:</strong></li>
<li><strong>4:</strong></li>
<li><strong>5:</strong></li>
<li><strong>6:</strong></li>
{% endblock %}